@model PaginatedList<Clinic_web_app.Models.CustomerAccount>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Customer List</h1>
                    <div class="form-outline col-6 right">
                        <input type="search" id="myInput" class="form-control" placeholder="Enter name to search" aria-label="Search" />
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Staff Account</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Customer Id
                            </th>
                            <th>
                                Customer Name
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Customer Phone
                            </th>
                            <th>
                                Account Status
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @if (item.Status.Equals("Block"))
                                    {


                                        @if (item.OTP != null)
                                        {
                                            <form asp-action="Edit" method="get" id="frmClose">
                                                <input type="hidden" name="id" value="@item.CustomerId" />
                                                <input type="submit" class="btn btn-success" value="Unlock Account" id="btn_Close" />
                                            </form>
                                        }
                                    }
                                    else
                                    {
                                        <form asp-action="Edit" method="get" id="frmClose">
                                            <input type="hidden" name="id" value="@item.CustomerId" />
                                            <input type="submit" class="btn btn-danger" value="Block Account" id="btn_Close" />
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                

                @if (Model.PreviousPage)
                {
                    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default">Previous</a>
                }
                @if (Model.NextPage)
                {
                    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default">Next</a>
                }
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#btn_Close").click(function (e) {
            e.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You can unblock this customer anytime you want!",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#frmClose").submit();
                }
            })
        })
    });
</script>
