@model Clinic_web_app.Models.EcomerceOrder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Order Detail</h1>
                    @if (Model.Status == "Completed")
                    {
                        <a asp-action="MakeReport" asp-route-id="@Model.OrderId" class="btn btn-primary">Make Report</a>
                    }
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Staff Account</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <dl class="row">
                    <dt class="col-sm-2">
                        Date Create
                    </dt>
                    <dd class="col-sm-10">
                        @Model.OrderDate
                    </dd>
                    <dt class="col-sm-2">
                        Customer Name
                    </dt>
                    <dd class="col-sm-10">
                        @Model.CustomerName
                    </dd>
                    <dt class="col-sm-2">
                        Address
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Address
                    </dd>
                    <dt class="col-sm-2">
                        Phone Number
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Phone
                    </dd>
                    <dt class="col-sm-2">
                        Email
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Email
                    </dd>
                    <dt class="col-sm-2">
                        Order Status
                    </dt>
                    <dd class="col-sm-10">
                        @{
                            switch (Model.Status)
                            {
                                case "Pending":
                                    {
                                        <span class="badge badge-primary">@Model.Status</span>
                                        break;
                                    }
                                case "Decline":
                                    {
                                        <span class="badge badge-danger">@Model.Status</span>
                                        break;
                                    }
                                case "Completed":
                                    {
                                        <span class="badge badge-success">@Model.Status</span>
                                        break;
                                    }
                            }
                        }
                    </dd>
                </dl>
            </div>
            <div class="row">
                @if (Model.Status == "Pending")
                {
                    <a asp-action="CompletedOrder" asp-route-id="@Model.OrderId" class="btn btn-success col-3" style="margin:10px;">Deal has completed</a>

                    <a asp-action="CloseOrder" asp-route-id="@Model.OrderId" class="btn btn-danger col-3" style="margin:10px;">Cancle Deal</a>
                }
            </div>
            <div class="row">
                <h3 align="center">Product Infomation</h3>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            decimal total = 0;
                            decimal ptotal = 0;
                            @foreach (var item in Model.EcomerceMedOrderDetails)
                            {
                                total = total + @item.Med.Price * @Convert.ToDecimal(item.Quantity);
                                ptotal = @item.Med.Price * @Convert.ToDecimal(item.Quantity);
                                <tr>
                                    <td>@item.Med.MedName</td>
                                    <td>@item.Med.Brand.BrandName</td>
                                    <td>$@(item.Med.Price)</td>
                                    <td>@item.Quantity</td>
                                    <td>$@(ptotal)</td>
                                </tr>
                            }
                        }
                        <tr><td colspan="5" align="right"><strong>Grand Total</strong> = $@(total)</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </section>
    <!-- /.content -->
</div>
