@model IEnumerable<Clinic_web_app.Models.AdminOrderDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Medicine Rent Lists</h1>
                    <a asp-action="Create" type="button" class="btn btn-primary col-4">
                        Rent Equipment
                    </a>
                    <div class="row">                        
                        <div class="form-outline col-6 right">
                            <input type="search" id="myInput" class="form-control" placeholder="Enter name to search" aria-label="Search" />
                        </div>
                    </div>

                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Staff Account</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Purpose)
                            </th>
                            <th>
                               Equipment
                            </th>
                            <th>
                                Staff who rents
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Purpose)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Equipment.EquipmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDetail.Account.Username)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


