@model Clinic_web_app.Models.Medicine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Medicine Detail</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Staff Account</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MedName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MedName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Type)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Type)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price) $
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>
                    <dd class="col-sm-10">
                        <img src="~/@Model.Image" width="200" height="150" />
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Brand)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Brand.BrandName)
                    </dd>
                    <dt class="col-sm-2">Description</dt>
                    <dd class="col-sm-10">
                        @Model.Description
                    </dd>
                    <dt class="col-sm-2">Featured</dt>
                    @if (Model.Featured == true)
                    {
                        <dd class="col-sm-10">Yes</dd>
                    }
                    else
                    {
                        <dd class="col-sm-10">No</dd>
                    }

                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.MedId">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>


