@model List<Clinic_web_app.Models.CartItem>

@{
    ViewData["Title"] = "Cart";
}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>KiviCare is an easier way to save, shop and stay well.</p>
                    <h1>Cart</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            @if (Model.Count > 0)
            {
                decimal total = 0;

                <div class="col-lg-8 col-md-12">
                    <div class="cart-table-wrap">
                        <table class="cart-table">
                            <thead class="cart-table-head">
                                <tr class="table-head-row">
                                    <th class="product-remove"></th>
                                    <th class="product-image">Product Image</th>
                                    <th class="product-name">Name</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cartitem in Model)
                                {
                                    var ptotal = cartitem.quantity * cartitem.medicine.Price;
                                    total += ptotal;
                                    <tr class="table-body-row">
                                        <td class="product-remove"><a asp-action="RemoveCart" asp-route-id="@cartitem.medicine.MedId"><i class="far fa-window-close"></i></a></td>
                                        <td class="product-image"><img src="~/@cartitem.medicine.Image" alt=""></td>
                                        <td class="product-name">@cartitem.medicine.MedName</td>
                                        <td class="product-price">$@(cartitem.medicine.Price)</td>
                                        <td class="product-quantity">
                                            <a class="btn btn-light" asp-action="MinusQtyCart" asp-route-id="@cartitem.medicine.MedId">-</a>
                                            <input asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.medicine.MedId}")" type="text" readonly size="5">
                                            <a class="btn btn-light" asp-action="AddQtyCart" asp-route-id="@cartitem.medicine.MedId">+</a>
                                        </td>
                                        <td class="product-total">$@(ptotal)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="total-section">
                        <table class="total-table">
                            <thead class="total-table-head">
                                <tr class="table-total-row">
                                    <th>Total</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="total-data">
                                    <td><strong>Total: </strong></td>
                                    <td>$@(total)</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="cart-buttons">
                            <a asp-controller="Medicines" asp-action="Checkout" class="boxed-btn black">Check Out</a>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <p class="alert alert-danger">Empty Cart</p>
            }
        </div>

    </div>
</div>
