@model Clinic_web_app.Models.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Medicine Detail</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Staff Account</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CourseName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Lectures)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Lectures)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Location)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
            </dl>
            <div class="row">Student Lists</div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Course Name</td>
                            <td>Email</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Enrollments)
                        {
                            <tr>
                                <td>@item.Account.Username</td>
                                <td>@item.Account.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.CourseId">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

