@model Clinic_web_app.Models.EcomerceEquipDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Order Detail</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Staff Account</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <dl class="row">
                    <dt class="col-sm-2">
                        Date Create
                    </dt>
                    <dd class="col-sm-10">
                        @Model.OrderDetail.OrderDate
                    </dd>
                    <dt class="col-sm-2">
                       Customer Name
                    </dt>
                    <dd class="col-sm-10">
                        @Model.OrderDetail.Customer.CustomerName
                    </dd>
                    <dt class="col-sm-2">
                        Product
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Equipment.EquipmentName)
                    </dd>
                    <dt class="col-sm-2">
                        Price
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Equipment.Price)
                    </dd>
                    <dt class="col-sm-2">
                        Quantity
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Total)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Total)
                    </dd>

                    <dt class="col-sm-2">
                        Order Status
                    </dt>
                    <dd class="col-sm-10">
                        @{
                            switch (Model.OrderDetail.Status)
                            {
                                case "Pending":
                                    {
                                        <span class="badge badge-primary">@Model.OrderDetail.Status</span>
                                        break;
                                    }
                                case "Decline":
                                    {
                                        <span class="badge badge-danger">@Model.OrderDetail.Status</span>
                                        break;
                                    }
                                case "Completed":
                                    {
                                        <span class="badge badge-success">@Model.OrderDetail.Status</span>
                                        break;
                                    }
                            }
                        }
                    </dd>
                </dl>
            </div>
            <div class="row">
                <a asp-action="CompletedOrder" asp-route-id="@Model.OrderDetailId" class="btn btn-success col-3">Deal has completed</a>
                <a asp-action="CloseOrder" asp-route-id="@Model.OrderDetailId" class="btn btn-success col-3">Deal has completed</a>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </section>
    <!-- /.content -->
</div>


