@model IEnumerable<Clinic_web_app.Models.EcomerceEquipDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Equipment Order Lists</h1>
                    <div class="form-outline col-6 right">
                        <input type="search" id="myInput" class="form-control" placeholder="Enter name to search" aria-label="Search" />
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Staff Account</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                               Order No
                            </th>
                            <th>
                                Customer who buys
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Date Create Order
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.OrderId
                                </td>
                                <td>
                                    @item.OrderDetail.Customer.CustomerName
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Equipment.EquipmentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderDetail.OrderDate)
                                </td>
                                <td>                                    
                                    <a asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-info">Details</a>                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

